body{
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background:linear-gradient(160deg, #2e3ca4,rgb(29, 115, 142));
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

#addList{
    background-color: tomato;
    height: 28px;
    font-size: large;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgb(242, 255, 0);
    border-radius: 5px;
    cursor: pointer;
}
div>h2{
    height: fit-content;
    color: #970101;
    font-size: 27px;
    text-shadow: 1px 1px 1px #ff6464;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0px;
    margin-top: 10px;
}
.lists{
    margin-top: 30px;
    border: 2px solid black;
    height: auto;
    width: 482px;
    padding-left: 10px;
    border-radius: 10px;
    outline: 1px solid rgb(148, 190, 124);
    background: linear-gradient(90deg,rgb(140, 176, 164),rgb(60, 142, 169));}
/* }
.input-box{
    border: none;
    border-bottom: 1px dotted black;
    background:linear-gradient(140deg, hsl(292, 55%, 52%),rgb(228, 157, 26));
    border-radius: 5px;
    width: 250px;
    margin-top: 10px;
    height: 25px;
    font-size: large;
    text-shadow: 1px 1px 1px maroon;
}
.ok{
    background-color: rgba(23, 228, 23, 0.656);
    border-radius: 5px;
    font-size: large;
    width: 70px;
    height: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 185px;
    cursor: pointer;
}
.parent-div{
    background-color: #ad5454;
   border-radius: 10px;
    flex-direction: column;
    border: 2px solid black;
    padding: 10px;
    margin-top: 5px;
    display: none;
} */
li{width: auto;
    font-size:23px;
    font-weight: 550;
    padding: 5px 0px;
   
    list-style-position: inside;
    margin-right: 5px;
    position: relative;
}
.newBtn{
    margin-left: 350px;
    background-color: #d36969;
    position: absolute;
    right: 20px;
    font-size: medium;
    top:18px;
    cursor: pointer;
    align-items: end;
}
.li-item{
    background: linear-gradient(90deg,rgba(66, 219, 168, 0.647),rgba(70, 171, 204, 0.592));
    border-radius: 10px;
    padding: 0px 5px;
}
h1{
    font-size: 42px;
    text-shadow: 1px 2px 3px red;
    border: 1px solid red;
    padding: 7px;
    outline: 1px dotted yellow;
    outline-offset: 2px;
    border-radius: 5px;
}
.ok:hover{
    background: linear-gradient(120deg,yellow,red);
}
#addList:hover{
    background: linear-gradient(145deg,rgb(173, 111, 111),rgb(55, 165, 55));
}
h2{
    text-align: center;
    padding-right: 30px;
    position: relative;
}
ul{
    list-style: none;
}
[type="checkbox"]{
    height: 20px;
    width: 19px;
    position: absolute;
    left: -30px;
    top:21px;  
}
.dlt{
margin-left: 400px;
background-color: red;
border: none;
border-radius: 5px;
height: 20px;
display: inline;
margin-top: -200px;
cursor: pointer;
}
.entering{
    display: flex;
    justify-content: space-between;
    width: auto;
    max-width: 500px;
    text-align: center;
    margin: 0px 10px;
}
.entering input{
    text-align: center;
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding-left: 10px;
    width: 60%;
    box-shadow: 1px 1px 5px #b0a9a9;
}
.entering input::placeholder{
    text-align: center;
    font-size: 17px;
    
}
.due{
    color: whitesmoke;
    font-size: 18px;
    align-items: center;
    background-color: rgb(123, 131, 131);
    padding: 8px;
    margin-top: -8px;
    border-radius: 10px;
  
}
.due .due-date{
    border:none;
    outline: none;
    height: 25px;
    border-radius: 7px;
    width:90px;
}
.due .due-time-1,.due-time-2{
    width:34px;
    border:none;
    outline: none;
    height: 25px;
    border-radius: 7px;
}
 .colen{
    font-size: larger;
    font-weight: bolder;
}
.time-zone{
    height: 25px;
    border-radius: 7px;
}
.prior{
    margin-top: 15px;
    text-align: center;
    width: 100%;
}
.priority{
    border: none;
    border-radius: 5px;
    height: 25px;
}
.done:hover{
    background-color: rgba(255, 230, 0, 0.656);
}
.done{
    background-color: rgb(255, 230, 0);
    height: 40px;
    width:80px;
    border:none;
    border-radius: 20px;
    margin: 10px 10px 5px 380px;
    box-shadow: 2px 1px 5px black;
    cursor: pointer;
}
.data-taken{
    background-color: rgba(255, 228, 196, 0.819);
    padding: 12px;
    border-radius: 10px;
    display: none;
    
}
.data-taken input,.data-taken select{
    background-color: #ff6464c3;
}
.data-taken .adding{
    background-color: #fe0000d5;
   
}
::placeholder{
    color:rgb(59, 80, 73);
    font-size: 14px;
}
.span{
    font-size: 16px;
    margin-top: -5px;
}@media screen and (max-width:470px) {
    body{
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-repeat: no-repeat;
        height: 100vh;
      
    }
    html{display: flex;
        flex-direction: column;
        align-items: center;
        background:linear-gradient( #2e3ca4,rgb(29, 115, 142));   
    }
    .lists{
        margin-top: 30px;
        border: 2px solid black;
        height: auto;
        width: 300px;
        padding-left: 10px;
        border-radius: 10px;
        outline: 1px solid rgb(148, 190, 124);
        background: linear-gradient(90deg,rgb(140, 176, 164),rgb(60, 142, 169));}
        .dlt{
            margin-left: 220px;
            margin-top: -190px; 
           
            }
            .data-taken{
                width: 300px;
            }
            .done{
                margin: 10px 10px 5px 210px;                
            }
            li{width: auto;
                font-size:20px;
                font-weight: 400;
                padding: 5px 0px;
               display: flex;
                justify-content: space-between;
                align-items: center;
                margin-right: 5px;               
            }
            .newBtn{
                margin-right: 5px;
                align-items: flex-end;
                height: 100%;
                max-height: 25px;
            }
            .li-item{
                margin-top: 5px;
               border-bottom: 1px solid black;
              }
              [type="checkbox"]{
                height: 15px;}
                .li-item{
                    border-bottom: 1px solid black;
                     display: flex;
                     align-items: center;
                     flex-wrap: wrap;
                     flex-grow: 1;
                     padding: 0px 5px;
                 }
}
